{% extends 'base.html.twig' %}

{% block title %}New Moto{% endblock %}

{% block body %}
    <h1>Ajouter une moto</h1>

    {{ include('moto/_form.html.twig') }}

    <a href="{{ path('app_moto_index') }}">back to list</a>
{% endblock %}
