{% extends 'base.html.twig' %}

{% block title %}Hello Get my Bike{% endblock %}

{% block body %}

{% for moto in motos %}
  
<div class="card mb-3" style="max-width: 700px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src= {{ '/images/moto/' ~ moto.imageName  }} class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ moto.modele.libelle }}</h5>
        <p class="card-text">{{ moto.description }}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
