<header>
<style type="text/css">
		.btn-circle.btn-xl {
			width: 40px;
			height: 40px;
			padding: 2px 8px;
			border-radius: 60px;
			font-size: 20px;
			text-align: center;
		}
	</style>

	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Get my Bike</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{% if app.user %}
						{% include 'header-logged.html.twig' %}
					{% endif %}
					<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
							{% if app.user and 'ROLE_ADMIN' in app.user.getroles()%}
								<p>ADMIN</p>
							{% endif %}

							{% if app.user and not 'ROLE_ADMIN' in app.user.getroles()%}
								<p>USER</p>
							{% endif %}
						</a>
					</li>
				</ul>

				{% if app.user %}
					{# <div class="mb-3"> #}
					<ul class="navbar-nav me-5 mb-2 mb-lg-0">
						
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<button type="button" class="btn btn-warning btn-circle btn-xl">TL</button>
							</a>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" href="/">Profil</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="/admin">Admin Dashboard</a></li>
								<li><a class="dropdown-item" href="/logout">Logout</a></li>

							</ul>
						</li>
					</ul>
					{# </div> #}
				{% endif %}
				{% if not app.user %}
					<a href="/login">Se connecter</a>
				{% endif %}
			</div>
		</div>
	</nav>


</header>
