<header>


	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Get my Bike</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{% if app.user %}
						{% include 'header-logged.html.twig' %}
					{% endif %}

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Reservations
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/">Profil</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="/admin">Admin Dashboard</a></li>
							<li><a class="dropdown-item" href="/fournisseurs/fournisseursparville">Recherche par ville</a></li>
							<li><a class="dropdown-item" href="/fournisseurs/fournisseursparpays">Recherche par pays</a></li>
						</ul>
					</li>


				</ul>
			</div>


		</div>
		{% if not app.user %}
			<a href="/login">Login</a>
		{% endif %}

		{% if app.user and 'ROLE_ADMIN' in app.user.getroles()%}
			<p>ADMIN</p>
		{% endif %}
		{% if app.user and 'ROLE_USER' in app.user.getroles()%}
			<p>USER</p>
		{% endif %}


		{% if app.user %}
			{# <div class="mb-3"> #}
			{{ app.user.userIdentifier }}
			<br>
			<a href="/logout">Logout</a>
			{# </div> #}
		{% endif %}

	</nav>


</header>
