{% extends 'base.html.twig' %}

{% block title %}Modifier son profil{% endblock %}

{% block body %}
    

    <div class="w-50 my-auto mx-auto" name="colonne gauche" id="conteneur_login">
    
    <h1>Modifier son profil</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

     {# {{ include('user/_delete_form.html.twig') }} #}

    </div>



{% endblock %}
